* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    font-size: 16px;
    padding: 0;
    min-height: 100vh;
    background-color: #0E1116;
    overscroll-behavior: none;
    -ms-scroll-chaining: chained;
}

.text-primary-color{
    color: #F3F3F3;
}

.main {
    display: grid;
    place-content: center;
    background-color: #0E1116;
}

.sample-section{
    max-width: 25rem;
    padding-top: 0.2rem;
    min-height: 98vh;   
}

.sample-section h1{
    font-family: 'Arial', 'Roboto', 'Segoe UI', Helvetica, sans-serif, sans-serif;
    padding-top: 0.2rem;
    padding-left: 0.8rem;
}

.wrapper {
    padding: 2rem 0.8rem 0.8rem 0.8rem;
}

.tiles-grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 7.2rem);
    grid-auto-rows: auto;
    gap: 0.12rem;
}

.tile {
    display: flex;
    justify-content: center;
    height: 6rem;
    border-radius: 0.2rem;
}

.tile img{
    max-width: 4rem;
    min-height: 2.8rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    /* transform: scale(0.3); */
    transition: all 2s;
}

.show {
    filter: blur(0);
    /* transform: scale(1); */
    opacity: 1;
}

.tiles-grid .tile:nth-child(1){
    transition-delay: 200ms;
    background-color: #002db3;
}

.tiles-grid .tile:nth-child(2){
    transition-delay: 400ms;
    background-color: #809fff;
}

.tiles-grid .tile:nth-child(3){
    transition-delay: 600ms;
    background-color: #bfcfff;
}

.tiles-grid .tile:nth-child(4){
    transition-delay: 800ms;
    background-color: #002db3;
}

.tiles-grid .tile:nth-child(5){
    transition-delay: 1000ms;
    background-color: #809fff;
}

.tiles-grid .tile:nth-child(6){
    transition-delay: 1200ms;
    background-color: #bfcfff;
}

.tiles-grid .tile:nth-child(7){
    transition-delay: 1400ms;
    background-color: #002db3;
}

.tiles-grid .tile:nth-child(8){
    transition-delay: 1600ms;
    background-color: #809fff;
}

.tiles-grid .tile:nth-child(9){
    transition-delay: 1800ms;
    background-color: #bfcfff;
}

.scroll-down{
    padding-top: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-down img{
    width: 2.2rem;
    filter: invert(1);
}

.scroll-down p{
    padding-bottom: 0.2rem;
    color: rgb(187, 100, 0);
    font-family: 'Arial', 'Roboto', 'Segoe UI', Helvetica, sans-serif, sans-serif;
}


.images-section{
    max-width: 25rem;
    min-height: 99.8vh;
    padding-top: 0.2rem;
    background-color: #0E1116;
}

.images-grid{
    display: grid;
    place-content: center;
    grid-auto-columns: 3.62rem;
    grid-auto-rows: 3.62rem;
    grid-template-areas: 
        "one one two two three three"
        "one one two two three three"
        "one one blank blank blank blank"
        "one one five five five five"
        "one one five five five five"
        "one one five five five five"
        "one one five five five five"
        "one one empty seven seven seven "
        "one one empty seven seven seven"
        "one one empty seven seven seven"
        ;
    overflow: hidden;
    isolation: isolate;
}

.hidden-image{
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
    transition: all 2s;
}

img.show{
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
}

.images-grid .jellys{
    width: 15rem;
    grid-area: one;
    border-radius: 0.544rem;
    transform: rotate(180deg);
    z-index: -1;
}

.images-grid .floral{
    width: 12rem;
    grid-area: five;
    border-radius: 0.544rem;
}

.images-grid .dunes{
    width: 14rem;
    grid-area: seven;
    border-radius: 0.544rem;
}

.images-info-container h2{
    font-family: 'Arial', 'Roboto', 'Segoe UI', Helvetica, sans-serif, sans-serif;
    text-align: end;
}